:root {
    --mainColor: #198754;
    --secondColor: #034626;
    --thirdColor: #10ac63;
    --mainIcon: #e29716;
    --secondIcon: #f4ac2f;
    --mainIconA7: rgba(226, 151, 22, .6);
    --shadowH: 1px 3px 5px rgba(0, 0, 0, .5);
    --shadowP: 1px 2px 3px rgba(0, 0, 0, .3);
    --shadowL: 1px 2px 10px 2px rgba(120, 120, 120, .3);
}

/* Responsive Desktop */
@media (max-width: 1100px) {
    html {
        font-size: 90%;
    }
}

/* Responsive Laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    #hero .slider-item .slider-item-content h2 {
        font-size: calc(12px + .5rem);
    }

    #hero .slider-item .slider-item-content p {
        font-size: calc(8px + .2rem);
    }

    #topbar .top-contact-info,
    #topbar .sosmed-info {
        font-size: .9rem;
    }

    .navbar-toggler {
        padding: 5px;
    }

    .profil h2 {
        text-align: center;
    }

    .profil h3 {
        margin-top: calc(30px + 2.5rem);
    }

    .profil p,
    .profil a {
        margin: 10px 20px;
    }

    #alumni .section-item-slider {
        aspect-ratio: 3/4;
    }

    #alumni .section-item-content {
        position: absolute;
        z-index: 2;
        background-color: rgba(10, 155, 87, 0.8);
        left: 17px;
        right: 17px;
        height: 30%;
        bottom: 2px;
        border-radius: 10px;
        padding: 5px;
    }

    #alumni .section-item-content p {
        line-height: 1.5rem;
        padding: 0 calc(5px + .2rem) 5px;
    }

    #berita .section-thumbnail {
        height: 65%;
        width: 100%;
        overflow: hidden;
    }

    #berita .section-item-thumbnail .tanggal {
        bottom: 35%;
    }
}

/* Responsive Tablet */
@media (max-width: 768px) {
    html {
        font-size: 60%;
    }

    .navbar-toggler {
        width: calc(30px + 1.5rem);
        height: calc(20px + 1.8rem);
        margin: 5px;
        font-size: calc(6px + .2rem);
    }

    .navbar-toggler-icon {
        font-size: calc(6px + .6rem);
    }

    .searchBox-wrapper {
        display: none;
    }

    #topbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: calc(10px + .5rem) 0;
    }

    #topbar .sosmed-info {
        display: none;
    }

    .top-contact-info li a i,
    .top-contact-info li a {
        font-size: calc(10px + .3rem);
    }

    #hero p {
        font-size: calc(10px + .2rem);
    }

    #prestasi .section-item-body p,
    #berita .section-contetn p {
        font-size: calc(10px + .3rem);
    }

    #prestasi .section-item img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #prestasi .section-item-title,
    #prestasi .section-item-body {
        padding: calc(5px + .5rem) calc(10px + .5rem);
    }

    .section-item-body p {
        margin: 3px 5px;
        font-size: calc(8px + .3rem);
    }

    .section-item-meta span,
    .section-item-meta span i {
        font-size: calc(8px + .3rem);
    }

    #slider-tools-1 .owl-next,
    #slider-tools-1 .owl-prev,
    #slider-tools-2 .owl-prev,
    #slider-tools-2 .owl-next,
    #slider-tools-3 .owl-prev,
    #slider-tools-3 .owl-next {
        width: calc(20px + 2rem);
        height: calc(20px + 2rem);
        margin: 0 calc(10px + .5rem);
        background-color: white;
    }

    #slider-tools-2 .owl-prev,
    #slider-tools-2 .owl-next {
        background-color: var(--secondIcon);
    }

    #alumni .section-item-content p {
        font-size: calc(8px + .1rem);
    }

    #alumni .section-item-content .btn-icon-utama {
        bottom: calc(5px + .1rem);
    }

    #ekstrakulikuler .section-body-item {
        aspect-ratio: 5/3;
        height: fit-content;
        width: fit-content;
    }

    #berita .section-item-thumbnail {
        aspect-ratio: 5/4;
    }

    #berita .section-item-thumbnail .section-content h3 {
        font-size: calc(14px + .8rem);
    }

    #berita .section-item-thumbnail .section-content p {
        font-size: calc(10px + .5rem);
        line-height: calc(8px + 1rem);
    }
}

/* Responsive Mobile */
@media (max-width: 576px) {
    html {
        font-size: 35%;
    }

    #prestasi,
    #ekstrakulikuler,
    #berita {
        padding: calc(30px + 3rem) calc(20px + 4rem);
    }

    .quest {
        background-image: url(images/bg-open.png);
    }

    .quest .button-start {
        border: none;
    }

    .brand .brad-name h1 {
        font-size: calc(30px + 1rem) !important;
    }

    .section-title h2,
    .profil h2 {
        font-size: calc(20px + 1rem);
    }

    .section-item-slider {
        margin: 0 5px;
    }

    #hero .slider-item img {
        aspect-ratio: 9/16;
        object-fit: cover;
        object-position: bottom;
    }

    #hero .btn-utama {
        font-size: calc(8px + .3rem);
        padding: 3px 6px;
        margin-top: 10px;
    }

    #alumni .section-item-content {
        height: 35%;
    }

    #alumni .section-item-content h3 {
        font-size: calc(14px + .3rem);
    }

    #alumni .section-item-content p {
        font-size: calc(10px + .2rem);
        line-height: 12px;
    }

    #ekstrakulikuler .section-body-item .section-item-content h3,
    #ekstrakulikuler .section-body-item .section-item-content i {
        font-size: calc(20px + 1rem);
    }

    #slider-hero-nav .owl-next,
    #slider-hero-nav .owl-prev {
        font-size: calc(10px + .5rem);
        width: calc(20px + 2rem);
        height: calc(20px + 2rem);
        padding: 0;
        border-radius: 50%;
    }

    #slider-hero-nav .owl-next {
        right: calc(10px + .5rem);
    }

    #slider-hero-nav .owl-prev {
        left: calc(10px + .5rem);
    }

    #slider-hero-nav .owl-next,
    #slider-hero-nav .owl-prev,
    #slider-tools-1 .owl-next,
    #slider-tools-1 .owl-prev,
    #slider-tools-2 .owl-prev,
    #slider-tools-2 .owl-next,
    #slider-tools-3 .owl-prev,
    #slider-tools-3 .owl-next {
        width: calc(20px + 2rem);
        height: calc(20px + 2rem);
        margin: 0;
    }

    #berita .section-item-thumbnail .section-content h3 {
        font-size: calc(18px + .7rem);
    }

    #berita .section-item-thumbnail .section-content p {
        font-size: calc(8px + .5rem);
        line-height: initial;
    }

    #berita .section-item-thumbnail .button-info {
        position: absolute;
        bottom: calc(5px + .3rem);
        left: 5px;
    }

    .icon-music-wrapper {
        width: calc(20px + 2rem);
        height: calc(20px + 2rem);
    }
}

/* Responsive Mini Mobile */
@media (max-width: 470px) {
    html {
        font-size: 25%;
    }

    #prestasi,
    #ekstrakulikuler,
    #berita {
        padding: 10px 5px;
    }

    .slider-item .slider-item-content h2 {
        font-size: calc(32px + 1rem);
        font-weight: 500;
    }

    .section-item-caption h5 {
        font-size: calc(20px + .5rem);
        padding: 10px;
    }

    #topbar .top-contact-info {
        text-align: center;
    }

    .top-contact-info li a i,
    .top-contact-info li a {
        font-size: calc(10px + .1rem);
    }

    .section-item-caption h6,
    #galeri .section-item-caption h6 {
        font-size: calc(18px + .5rem);
    }

    #hero .slider-item .slider-item-content {
        width: calc(70% + 20px);
    }

    #hero #slider-hero-nav .owl-prev,
    #hero #slider-hero-nav .owl-next {
        padding: 0 5px;
    }

    #slider-tools-1 .owl-next,
    #slider-tools-1 .owl-prev,
    #slider-tools-2 .owl-prev,
    #slider-tools-2 .owl-next,
    #slider-tools-3 .owl-prev,
    #slider-tools-3 .owl-next {
        width: calc(30px + 2rem);
        height: calc(30px + 2rem);
        margin: 0 calc(20px + 1rem);
        background-color: var(--secondIcon);
        color: white;
        box-shadow: var(--shadowL);
    }

    #slider-tools-1 .owl-next:hover,
    #slider-tools-1 .owl-prev:hover,
    #slider-tools-2 .owl-prev:hover,
    #slider-tools-2 .owl-next:hover,
    #slider-tools-3 .owl-prev:hover,
    #slider-tools-3 .owl-next:hover {
        filter: brightness(.8);
    }

    .profil p {
        font-size: calc(10px + .2rem);
    }

    #alumni .section-item-content h3 {
        font-size: calc(16px + .3rem);
        padding: 10px;
    }

    #alumni .section-item-content p {
        font-size: calc(14px + .2rem);
        line-height: 25px;
        padding: 0 10px;
    }

    #berita .section-item-thumbnail {
        aspect-ratio: 4/3;
    }

    #berita .section-item-thumbnail .section-thumbnail {
        object-position: center;
        height: 60%;
    }

    #berita .section-item-thumbnail .tanggal {
        bottom: 40%;
    }
}

/* Responsive Mini Mobile 350px */
@media (max-width: 350px) {
    html {
        font-size: 20%;
    }

    #berita .section-item-thumbnail .section-thumbnail {
        height: 50%;
    }

    #berita .section-item-thumbnail .tanggal {
        bottom: 50%;
    }

    #alumni .section-item-content {
        height: 30%;
    }

    #alumni .section-item-content h3 {
        font-size: calc(14px + .2rem);
    }

    #alumni .section-item-content p,
    #prestasi .section-item-body p {
        font-size: calc(10px + .2rem);
        line-height: 12px;
        padding: 0 5px;
    }

    .section-item-caption h5 {
        font-size: calc(18px + .4rem);
        padding: 10px;
    }

    .section-item-caption h6,
    #galeri .section-item-caption h6 {
        font-size: calc(15px + .4rem);
    }

    #berita .section-item-thumbnail .section-content h3 {
        font-size: calc(10px + .7rem);
    }

    #berita .section-item-thumbnail .section-content p {
        font-size: calc(10px + .2rem);
        line-height: initial;
    }

    #hero #slider-hero-nav .owl-prev,
    #hero #slider-hero-nav .owl-next {
        display: none;
    }
}

/* Responsive Extra Small */
@media (max-width: 200px) {
    html {
        font-size: 15%;
    }
}